MYSQL_ROOT_PASSWORD=root
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_DB_USERNAME=cv_user
KC_DB_PASSWORD=cv_pass
SPRING_DATASOURCE_USERNAME=cv_user
SPRING_DATASOURCE_PASSWORD=cv_pass
APP_KEYCLOAK_ADMIN_CLIENT_SECRET=change-me
